@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans:400,700');
html, body {
  width: 100%;
  height: 100%;
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
  font-weight:600;
  letter-spacing: 0.05em;
font-family: 'Archivo Black', sans-serif;
}

#mainNav {
  border-color: white;
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#mainNav .navbar-toggler {
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: rgb(0, 0, 255) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: rgb(0, 0, 125);
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255,255,255,0.5);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: rgba(255,255,255,1);
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: rgb(0, 0, 150);
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: rgb(0, 0, 150);
  }
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

aside{
  padding:7.5vh 0;
}

section {
  width: 100%;
  height:500px;
  margin:0;
  padding:0;
  position: relative;
}

iframe{
  width:100%;
  height:500px;
  overflow:hidden;
  background:rgb(200,200,200);
  margin:0;
  padding:0;
  position: relative;  
}

footer {
  padding: 3rem 0 2rem 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing:1px; 
  background-color:gray;
}

footer a{
  color:rgba(255,255,255,1);
}

















































